## Ignore Visual Studio temporary files, build results, and user-specific files

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.nupkg
**/[Pp]ackages/*
artifacts/
AppPackages/
PublishScripts/
*.pubxml
*.pubxml.user
*.mdf
*.ldf
appsettings.*.local.json
secrets.json
.DS_Store
Thumbs.db
.idea/
publish/
site.zip
deploy-credentials.local.txt
.firebase/
node_modules/
